<table class="table">
  <thead>
    <tr>
      <th scope="col">Email</th>
      <th scope="col">Image [BASE64 string]</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>      
        <td><%= user.email %></td>
        <td><%= user.image %></td>      
      </tr>
    <% end %>
  </tbody>
</table>