<footer class="footer">
  <small>
    The <a href="https://github.com/jisanchezp/basic_authentication_proxy_service">Acid challenge</a>
    by <a href="https://www.linkedin.com/in/jisanchez/">Juan Ignacio Sánchez</a>
  </small>
  <nav>
    
  </nav>
</footer>