<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "User Maintainer", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Users list",   root_path %></li>
        <li><%= link_to "Add user",   users_new_path %></li>
      </ul>
    </nav>
  </div>
</header>